# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Pipenv
Pipfile
Pipfile.lock

# Pyenv
.python-version

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
*/migrations/*.pot
